* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
body {
  background: #bfbfbf url("images/background.jpg") repeat-x;
  font-family: Arial, sans-serif;
}
header h1 {
  margin-top: 18px;
  font-size: 20px;
  text-align: center;
  font-family: "Limelight", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000;
}

nav {
  margin-top: 10px;
  width: 100%;
}

nav .navigation {
    width: 80%;
    margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 5px;

}

nav .navigation li {
  font-size: 14px;
  color: blue;
  padding: 5px 10px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid black;
  text-align: center;
  font-family: "Limelight", sans-serif;
  cursor: pointer;
}

/* nav .navigation li:hover{
    background-color:blue;
    border: 2px solid #2e3033;
} */

section {
}

section .containerImg {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  margin-top: 40px;
  opacity: 0;
}

section .containerImg.active {
  opacity: 1;
  transition: 1s;
}

.imgBlack {
  position: relative;
}

.imgBlack img {
  filter: grayscale(1);
  height: 400px;
  object-fit: cover;
  transition: 1s;
}

.imgBlack img.active {
  filter: grayscale(0);
}

.icone {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 185px;
  left: 103px;
  border-radius: 50%;
  z-index: 3;
}

.icone i {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

.detail {
  background-color: white;
  height: 360px;
  padding: 20px;
  width: 190px;
  cursor: pointer;
  /* display: none; */
  opacity: 0;
  transition: 1s;
}

.detail.active {
  /* display: block; */
  opacity: 1;
}

.detail h1 {
  font-size: 18px;
  margin-top: 20px;
  font-family: "Limelight", sans-serif;
  text-align: center;
  margin-bottom: 25px;
  /* opacity: 0;
    transition: 2s; */
}
.detail h2 {
  font-size: 17px;
  padding: 5px 10px;
  background-color: blue;
  color: white;
  font-family: "Limelight", sans-serif;
  margin: auto;
  margin-top: 0;
  margin-bottom: 50px;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  /* opacity: 0;
    transition: 2.5s; */
}
.detail h3 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Limelight", sans-serif;
  /* opacity: 0;
    transition: 3s; */
}

/* .detail.active h1{
    opacity: 1;
}

.detail.active h2{
    opacity: 1;
}

.detail.active h3{
    opacity: 1;
} */
